.main{
    margin-top:15px;
}

.p-head{
    width:100%;
    height: 600px;
}

.head{
    position: relative;
}
.text{
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: #00000000;
    padding:12px;
    text-align: center;
    border-radius: 12px;
}

#p-h1{
    font-size: 45px;
}

#p-h2{
    font-size: 65px;
    font-weight: 600;
}

.block{
    display: none;
}

.without-fixed{
    margin-right: 750px;
    padding: 12px;
    width: 100%;
}

.text3{
    text-decoration: none;
}

.with-fixed{
    background: url(../Styles/ticket.webp);
    color: aliceblue;
    background-position: center center;
    backdrop-filter: blur(12px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    background-attachment: fixed;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    position: sticky;
    width: 100%;
    top: 120px;
    padding: 12px;
}
.with-fixed1{
    object-fit: cover;
    background-attachment: fixed;
    height: 600px;
    position: sticky;
    width: 100%;
    top: 120px;
}
.images-location{
    display: flex;
    white-space: nowrap;
    gap: 20px;
}
.pic1{
    height: 510px;
    border-radius: 12px;
}
.btn3{
    width:440px;
    padding:12px;
}
.goa{
    width: 240px;
}
